<div class="container-fluid">
    <div class="row header">
        <h2>Migs, ajuda aí, queremos um EXAGERADO cada vez mais F*D4!!!</h2>
        <h4>Sua experiência tem que ser do KCT, conta pra gente como tá sendo a sua e, de quebra, você concorre à brindes (ecobags, pochetes, aventais, entre outros)</h4>
    </div>
    <div class="row">
        <app-dados-usuario *ngIf="passo == 1" (passo)="proximaEtapa($event)"></app-dados-usuario>
    </div>
    <div class="row">
        <app-questionario *ngIf="passo == 2" (passo)="proximaEtapa($event)"></app-questionario>
    </div>
    <div class="row">
        <app-marcas *ngIf="passo == 3" (passo)="proximaEtapa($event)"></app-marcas>
    </div>
</div>