<div class="form">
    <form>
        <div class="row">
            <label class="control-label">Seu nome completinho<b class="obrigatorio">*</b></label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" required>
        </div>
        <div class="row">
            <label class="control-label">Seu cel<b class="obrigatorio">*</b></label>
            <input type="tel" class="form-control" [(ngModel)]="usuario.celular" name="celular" id="celular" aplicarMascaras required>
        </div>
        <div class="row">
            <label class="control-label">Migs, seu e-mail é esse mesmo né?<b class="obrigatorio">*</b></label>
            <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" required>
        </div>
        <div class="row">
            <label class="control-label">Sua data de nascimento<b class="obrigatorio">*</b></label>
            <input type="date" class="form-control" [(ngModel)]="usuario.data_nascimento" name="data_nascimento" id="data_nascimento">
        </div>
        <div class="row">
            <label class="control-label">Você se identifica como...</label>
            <select class="form-control" [(ngModel)]="usuario.genero" name="genero" id="genero">
              <option [ngValue]="g.genero_id" *ngFor="let g of listaGeneros">{{g.nome}}</option>
          </select>
        </div>
        <div class="row ">
            <label class="control-label">Quer trocar de senha?</label>
            <input type="password" [(ngModel)]="usuario.senha" name="senha" class="form-control">
        </div>
        <div class="row ">
            <label class="control-label">Se vai trocar, tem que confirmar sua nova senha!</label>
            <input type="password" [(ngModel)]="usuario.confirma_senha" name="confirmar_senha" class="form-control">
        </div>
        <div class="row button-row">
            <button class="btn btn-success" (click)="atualizarDados()"><span class="material-icons">save</span>&ensp;Salvar</button>
        </div>
    </form>
</div>