<div class="form">
    <form>
        <div class="row">
            <label class="control-label">Conta aqui, qual o melhor período para você fazer suas compras</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Manhã
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Tarde
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Noite
            </div>
        </div>

        <div class="row">
            <label class="control-label">Já tinha vindo ao EXAGERADO?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Siiiim!
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Não, é a primeira vez!
            </div>
        </div>

        <div class="row">
            <label class="control-label">O EXAGERADO rola de quarta a domingo, em quais dias você participa?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Quarta
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Quinta
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Sexta
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Sábado
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Domingo
            </div>
        </div>

        <div class="row">
            <label class="control-label">Migs, como você paga suas compras no EXAGERADO?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Dinheiro
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Cartão de débito
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Cartão de crédito
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Pix
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">PicPay
            </div>
        </div>

        <div class="row">
            <label class="control-label">E conta pra noix, de que cidade você é?</label>
            <input type="text" class="form-control">
        </div>

        <div class="row">
            <label class="control-label">Como ficou sabendo do nosso rolê: EXAGERADO?</label>
            <input type="text" class="form-control">
        </div>

        <div class="row">
            <label class="control-label">E aí, quem é o seu fechamento aqui no EXAGERADO?</label>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Amigx
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Família
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">N(amor)adx
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">Tô sozinhx mexmoo
            </div>
        </div>

        <div class="row">
            <label class="control-label">Deixa um recadinho pra noix? Pode ser crítica construtiva ou elogio!</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>

        <div class="row button-row">
            <button class="btn btn-secondary" (click)="proximoPasso(1)">Voltar</button>
            <button class="btn btn-success" (click)="proximoPasso(3)">Próximo</button>
        </div>
    </form>
</div>