<div class="container-fluid">
    <div class="col">
        <div class="row">
            <div class="pull-left">
                <button class="btn btn-secondary" [routerLink]="'/listar-atracoes'" title="Voltar para a lista">
                        <i class="material-icons">keyboard_return</i>
                    </button>
                <h2 *ngIf="!editarAtracao">&emsp;Adicionar nova atração</h2>
                <h2 *ngIf="editarAtracao">&emsp;Editar atração</h2>
            </div>
        </div>
        <div class="row">
            <label class="control-label">Status</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="statusAtracao" (change)="mudaStatusAtracao()" [checked]="atracao.status">
                <label class="form-check-label" for="statusAtracao" *ngIf="atracao.status">Ativo</label>
                <label class="form-check-label" for="statusAtracao" *ngIf="!atracao.status">Desativado</label>
            </div>
        </div>
        <div class="row">
            <label class="control-label">Nome da atração</label>
            <input type="text" class="form-control" placeholder="Nome da atração" [(ngModel)]="atracao.atracao_nome" />
        </div>
        <!-- dados do responsável e contato -->
        <div class="row">
            <label class="control-label">Nome do responsável</label>
            <input type="text" class="form-control" placeholder="Nome do responsável" [(ngModel)]="atracao.nome_contato" />
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label class="control-label">Telefone de contato</label>
                <input type="text" class="form-control" placeholder="Telefone de contato" [(ngModel)]="atracao.telefone_contato" />
            </div>
            <div class="col-xs-12 col-md-6">
                <label class="control-label">E-mail de contato</label>
                <input type="text" class="form-control" placeholder="E-mail de contato" [(ngModel)]="atracao.email_contato" />
            </div>
        </div>
        <div class="row">
            <div class="align-center">
                <button class="btn btn-success" (click)="salvarAtracao()" *ngIf="!editarAtracao" title="Salvar atração">
                    <i class="material-icons">save</i>
                </button>
                <button class="btn btn-success" (click)="atualizarAtracao()" *ngIf="editarAtracao" title="Salvar edição">
                    <i class="material-icons">save</i>
                </button>
            </div>
        </div>
    </div>
</div>