.row.links {
    text-align: center;
}

button {
    margin: 8px 0
}

div.form {
    width: 100vw;
    height: 100vh;
    background: url(../../../assets/img/tapume.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

div.login-group {
    background-color: #eee;
    border: 1px solid #333;
    padding: 25px;
    border-radius: 8px;
    width: 40%;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    div.login-group {
        width: 90%;
    }
}