<div class="form">
    <div class="login-group">
        <form>
            <div class="logo">
                <span>Exagerado On</span>
            </div>
            <div class="row">
                <label class="control-label">Login</label>
                <input type="text" class="form-control">
            </div>
            <div class="row">
                <label class="control-label">Senha</label>
                <input type="password" class="form-control">
            </div>
            <div class="row">
                <button class="btn btn-success" (click)="login()"><span class="material-icons">login</span>Entrar</button>
                <button class="btn btn-primary">Entrar FB</button>
                <button class="btn btn-danger">Entrar Google</button>
            </div>
            <div class="row links">
                <p>Ainda não tem cadastro? <a [routerLink]="'/cadastro'">É fácil e rápido, vem!</a></p>
                <p>Esqueceu a senha? <a [routerLink]="'/recuperar-senha'">Recupere-a aqui!</a></p>
            </div>
        </form>
    </div>
</div>