<div class="form">
    <div class="login-group">
        <form>
            <div class="logo">
                <span>Exagerado On</span>
            </div>
            <div class="row">
                <label class="control-label">Login</label>
                <input type="text" class="form-control" [(ngModel)]="login.usuario" name="usuario">
            </div>
            <div class="row">
                <label class="control-label">Senha</label>
                <input type="password" class="form-control" [(ngModel)]="login.no_hash" name="senha">
            </div>
            <div class="row">
                <button class="btn btn-success" (click)="realizarLogin()"><span class="material-icons">login</span>&ensp;Entrar</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-google" (click)="cadGoogle()">
                    <img src="../../../assets/img/btn-google.svg"/>
                    <span>&ensp;Entrar com Google</span>
                </button>
            </div>
            <div class="row links">
                <!-- <div class="forgotPassword">
                    <span [routerLink]="'/forgot-password'">Forgot Password?</span>
                </div> -->
                <p>Ainda não tem cadastro? <a [routerLink]="'/cadastro'">É fácil e rápido, vem!</a></p>
            </div>
        </form>
    </div>
</div>