.row.links {
    text-align: center;
}

.row {
    justify-content: center;
}

button {
    margin: 8px 0
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.form {
    width: 100vw;
    height: 100vh;
    background: url(../../../assets/img/tapume.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    margin-left: -12px;
}

div.login-group {
    background-color: #eee;
    border: 1px solid #333;
    padding: 25px;
    border-radius: 8px;
    width: 40%;
}

div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    div.login-group {
        width: 90%;
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

img {
    height: 36px;
}

.material-icons {
    font-size: 28px;
}

.btn {
    font-weight: 500;
    padding: 8px;
}

.btn-google {
    color: #fff;
    background-color: #4285F4;
}

.btn-google:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}