<div class="form">
    <form>
        <div class="row">
            <label class="control-label">Nome completinho<b class="obrigatorio">*</b></label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome" required>
        </div>
        <div class="row">
            <label class="control-label">Passa seu cel pra noix<b class="obrigatorio">*</b></label>
            <input type="tel" class="form-control" [(ngModel)]="usuario.celular" name="celular" id="celular" aplicarMascaras required>
        </div>
        <div class="row">
            <label class="control-label">Qual seu e-mail, migs?<b class="obrigatorio">*</b></label>
            <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" required>
        </div>
        <div class="row">
            <label class="control-label">Agora vamos descobrir: quantos aninhos você tem?<b class="obrigatorio">*</b></label>
            <input type="date" class="form-control" [(ngModel)]="usuario.data_nascimento" name="data_nascimento" id="data_nascimento">
        </div>
        <div class="row">
            <label class="control-label">E conta pra gente, como você se identifica?</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <label class="control-label">Agora, precisamos criar uma senha pra você<b class="obrigatorio">*</b></label>
            <input type="password" [(ngModel)]="usuario.senha" name="senha" class="form-control" required>
        </div>
        <div class="row">
            <label class="control-label">E precisamos que você confirme que sabe a senha que escolheu<b class="obrigatorio">*</b></label>
            <input type="password" [(ngModel)]="usuario.confirma_senha" name="confirmar_senha" class="form-control" required>
        </div>
        <div class="row button-row">
            <button class="btn btn-secondary" [routerLink]="'/login'">Voltar</button>
            <button class="btn btn-success" (click)="proximoPasso(2)">Próximo</button>
        </div>
    </form>
</div>