<div class="form">
    <form>
        <div class="row">
            <label class="control-label">Nome completinho</label>
            <input type="text" class="form-control" required>
        </div>
        <div class="row">
            <label class="control-label">Passa seu cel pra noix</label>
            <input type="tel" class="form-control" id="celular" aplicarMascaras required>
        </div>
        <div class="row">
            <label class="control-label">Qual seu e-mail, migs?</label>
            <input type="email" class="form-control" required>
        </div>
        <div class="row">
            <label class="control-label">Agora vamos descobrir: quantos aninhos você tem?</label>
            <input type="date" class="form-control" id="data_nascimento">
        </div>
        <div class="row">
            <label class="control-label">E conta pra gente, como você se identifica?</label>
            <input type="text" class="form-control">
        </div>
        <div class="row">
            <label class="control-label">Agora, precisamos criar uma senha pra você</label>
            <input type="password" class="form-control">
        </div>
        <div class="row">
            <label class="control-label">E precisamos que você confirme que sabe a senha que escolheu</label>
            <input type="password" class="form-control">
        </div>
        <div class="row button-row">
            <button class="btn btn-secondary" [routerLink]="'/login'">Voltar</button>
            <button class="btn btn-success" (click)="proximoPasso(2)">Próximo</button>
        </div>
    </form>
</div>