<div class="offcanvas offcanvas-start" tabindex="-1" id="canvas" aria-labelledby="canvas" [ngClass]="{'show' : global.displayMenu}">
    <div class="offcanvas-header">
        <div></div>
        <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" (click)="closeMenu()"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li><a class="dropdown-item" [routerLink]="'/'" (click)="navigate()">Home</a></li>
            <!-- <li><a class="dropdown-item" [routerLink]="'/mapa'" (click)="navigate()">Mapa do evento</a></li> -->
            <li><a class="dropdown-item" [routerLink]="'/lojas'" (click)="navigate()">Catálogo de lojas</a></li>
            <li><a class="dropdown-item" [routerLink]="'/marcas'" (click)="navigate()">Catálogo de marcas</a></li>
            <!-- <li><a class="dropdown-item" [routerLink]="'/passaporte'" (click)="navigate()">Passaporte Covid</a></li> -->
            <li><a class="dropdown-item" [routerLink]="'/agenda'" (click)="navigate()">Agenda de atrações</a></li>
            <li><a class="dropdown-item" [routerLink]="'/login'" (click)="logout()">Sair</a></li>
        </ul>
    </div>
</div>

<div class="offcanvas-backdrop fade" [ngClass]="{'show' : global.displayMenu}" [ngStyle]="{'display':global.displayMenu ? 'block' : 'none'}" (click)="closeMenu()"></div>