/* You can add global styles to this file, and also import other style files */

* {
    font-size: 12pt;
    line-height: 16pt;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
} */

.control-label {
    font-weight: bold;
    padding: 0;
}

.row {
    margin: 16px auto;
    width: 100%;
    display: flex;
}

.button-row {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    justify-content: space-around;
    width: 30%;
}

.container {
    margin: 0;
    padding: 0;
}

.obrigatorio {
    color: darkred;
}

button.btn {
    width: auto;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

button.btn:last-of-type {
    margin-right: 0
}

.pull-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.pull-left {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table th:last-of-type {
    width: 1%;
}

.table td:last-of-type {
    white-space: nowrap;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding: var(--bs-gutter-x, .25rem)
    }
    .row>* {
        padding: 0 1rem;
    }
    .row>button.btn {
        padding: 5px 10px;
    }
    .row>.col-md-4 {
        padding: 0;
    }
    .row>.form-check {
        padding-left: 1.5rem;
    }
    .form-switch {
        padding-left: 2.5rem!important;
        margin-top: -0.25rem;
    }
    .control-label {
        font-weight: bold;
        /* padding: 0.5rem 1rem; */
        padding: 0;
    }
    .form-control {
        /* margin: .5rem 1rem; */
        flex: 1;
        margin-top: 0;
        padding: 0.375rem 0.75rem;
    }
    .row {
        margin: 5px auto;
        max-width: 100%;
    }
    .row .col-xs-12 {
        padding: 0;
    }
    .card .row .col {
        padding: 0;
    }
    .pull-left {
        padding-left: 1rem;
    }
    h2 {
        margin-left: -1rem !important;
    }
    .pull-right {
        display: flex;
        justify-content: flex-end;
        flex: 0;
        align-items: baseline;
        padding-right: 0;
    }
    .row-data .col {
        margin: 5px 0;
    }
    .col-button {
        flex: 1 !important;
        justify-content: center;
        display: flex;
    }
    .col-xs-12 .control-label {
        padding-left: 0
    }
    .col-xs-12 .form-control {
        margin-left: 0
    }
    .card {
        margin: 5px 1rem;
    }
    .card .card-footer {
        padding: .5rem 1rem;
    }
    .rounded-start {
        border-top-right-radius: 0.25rem!important;
        border-top-left-radius: 0.25rem!important;
        border-bottom-right-radius: 0!important;
        border-bottom-left-radius: 0!important;
    }
}