/* You can add global styles to this file, and also import other style files */

* {
    font-size: 12pt;
    line-height: 16pt;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* .form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
} */

.control-label {
    font-weight: bold;
    padding: 0;
}

.row {
    margin: 16px auto;
    max-width: 50vw;
    width: 100%;
}

.button-row {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    justify-content: space-around;
    width: 30%;
}

.container {
    margin: 0;
    padding: 0;
}

.obrigatorio {
    color: darkred;
}

@media screen and (max-width: 767px) {
    .row {
        max-width: 100%;
    }
}