<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="pull-left">
                    <h2>Lista de segmentos</h2>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" [routerLink]="'/add-segmento'" title="Criar novo segmento">
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-bordered table-hover table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of listaSegmentos">
                            <td>{{s.nome}}</td>
                            <td>{{s.status == true ? 'Ativo' : 'Inativo'}}</td>
                            <td>
                                <button class="btn btn-warning" [routerLink]="'/editar-segmento/'+s.segmento_uuid" [queryParams]="{nome:s.nome,status:s.status}" title="Editar">
                            <i class="material-icons">edit</i>
                        </button>
                                <button class="btn btn-success" *ngIf="s.status == false" (click)="alterarStatusSegmento(s)" title="Ativar">
                            <i class="material-icons">power_settings_new</i>
                        </button>
                                <button class="btn btn-danger" *ngIf="s.status == true" (click)="alterarStatusSegmento(s)" title="Desativar">
                            <i class="material-icons">power_settings_new</i>
                        </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>