<label for="dataList" class="control-label">Informe suas marcas favoritas</label>
<input class="form-control" list="datalistOptions" id="dataList" placeholder="Type to search..." (change)="addFavoritas($event)" [(ngModel)]="marcaSelecionada">
<datalist id="datalistOptions">
  <option *ngFor="let m of listaMarcas" [value]="m.nome">
</datalist>

<div class="lista-marcas">
    <span class="badge rounded-pill bg-grey text-dark" *ngFor="let f of marcasFavoritas">{{f}}
        <span class="material-icons" (click)="removerFavorita(f)">close</span>
    </span>
</div>